<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Red Alert </title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>

    <div id='map'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2VkZW5vMTAiLCJhIjoiY2sxODg1d3gyMXAxMzNibW9lczYwc3ZmOSJ9.y10wslhljab7C418xgwp1Q';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/cedeno10/ck2jvbyms310a1co84xdcjyuo',
    center: [-100.354359, 23.667086 ],
    zoom: 5
    });
    
    map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['locations']
  });

  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.title + '</h3><p>' + feature.properties.description + '</p>')
    .addTo(map);
    });
    map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
    enableHighAccuracy: true
    },
    trackUserLocation: true
    }));

    </script>
  </body>
</html>